.fade-in {
  animation: fade-in 500ms forwards;
}
@keyframes fade-in {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.fade-out {
  animation: fade-out 500ms forwards;
}
@keyframes fade-out {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.slide-right {
  animation: slide-right 500ms forwards;
}
@keyframes slide-right {
  0% {
    transform: translateX(-36vh);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    transform: translateX(0vh);
    opacity: 1;
    visibility: visible;
  }
}
.animate-box {
  display: grid;
  place-content: center;
  color: white;
  text-shadow: 0 1px 0 #000;
  --border-angle: 0turn;
  --main-bg: conic-gradient(
    from var(--border-angle),
    #0d1117,
    #0d1117 5%,
    #0d1117 60%,
    #0d1117 95%
  );
  border: solid 1px transparent;
  border-radius: 2em;
  --gradient-border: conic-gradient(
    from var(--border-angle),
    transparent 25%,
    #4c2638,
    #223b67 99%,
    transparent
  );
  background: var(--main-bg) padding-box, var(--gradient-border) border-box,
    var(--main-bg) border-box;
  background-position: center center;
  animation: bg-spin 10s linear infinite;
}
@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}
@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}
.animate-hero {
  display: grid;
  place-content: center;
  color: white;
  text-shadow: 0 1px 0 #000;
  --border-angle: 0turn;
  --main-bg: conic-gradient(
    from var(--border-angle),
    #0d1117,
    #000 5%,
    #000 60%,
    #0d1117 95%
  );
  border: solid 2px transparent;
  border-radius: 2em;
  --gradient-border: conic-gradient(
    from var(--border-angle),
    transparent 25%,
    #4c2638,
    #223b67 99%,
    transparent
  );
  background: var(--main-bg) padding-box, var(--gradient-border) border-box,
    var(--main-bg) border-box;
  background-position: center center;
  animation: bg-spin 10s linear infinite;
}
@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}
@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}
.animate-contact {
  display: grid;
  place-content: center;
  color: white;
  text-shadow: 0 px 0 #000;
  --border-angle: 0turn;
  --main-bg: conic-gradient(
    from var(--border-angle),
    #0d1117,
    #0d1117 5%,
    #0d1117 60%,
    #0d1117 95%
  );
  border: solid 1px transparent;
  border-radius: 2em;
  --gradient-border: conic-gradient(
    from var(--border-angle),
    transparent 25%,
    #4c2638,
    #223b67 99%,
    transparent
  );
  background: var(--main-bg) padding-box, var(--gradient-border) border-box,
    var(--main-bg) border-box;
  background-position: center center;
  animation: bg-spin 10s linear infinite;
}
@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}
@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}
