.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: auto;
}
.inner {
  display: flex;
  width: 100%;
  align-items: center;
  background: var(--card-bg);
  border: 1px solid var(--border-card);
  max-width: 1200px;
  gap: 6px;
  font-size: 12px;
  color: #fff;
  flex-direction: column;
  padding: 16px;
  border-radius: 40px 40px 0 0;
  a {
    color: #58a6ff;
    border-bottom: 1px solid;
    font-size: 12px;
  }
}
.email,
.mobile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
}
.information {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 14px;
}
@media screen and (min-width: 1000px) {
  .inner {
    align-items: center;
    max-width: 1200px;
    gap: 8px;
    font-size: 13px;
    border-radius: 40px 40px 0 0;
    a {
      font-size: 13px;
    }
  }
}
