.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 300;
  height: 71.25px;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 16px;
  max-width: 1200px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.logo span {
  color: var(--text);
  font-size: 18px;
  font-weight: 700;
}

.logo img {
  color: transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #fff;
}

.menu {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.menu img {
  /* width: 30px; */
}

.menu-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  z-index: 300;
}

.close {
  padding: auto;
}

.close img {
  padding: auto;
}

.nav-menu-container {
  position: fixed;
  background: #0508162e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  z-index: 200;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

.fixed {
  backdrop-filter: blur(10px);
  background: rgb(0 0 0 / 55%);
}

.menu-items {
  background: rgb(0 0 0 / 76%);
  border: 1px solid var(--border-card);
  border-radius: 0px 20px 20px 0px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  top: 0;
  z-index: 200;
  left: -1vh;
  height: 100%;
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(11px);
  border-left: 0;
  flex-direction: column-reverse;
}

.menu-item {
  display: flex;
  width: 146px;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--border-card);
  padding-bottom: 4px;
}

.menu-item span {
  color: var(--text);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.open-menu {
  display: flex;
}

.close-menu {
  display: none;
}

@media screen and (min-width: 1000px) {
  .menu-item {
    animation: unset;
    border-bottom: unset;
    padding-bottom: unset;
    width: unset;
  }
  .nav-menu-container {
    display: flex;
    position: relative;
    background: unset;
    justify-self: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
  }
  .close-menu {
    display: flex;
  }
  .nav {
    height: 77.5px;
  }
  .logo span {
    font-size: 20px;
  }
  .menu-items {
    position: unset;
    background: unset;
    border: unset;
    width: unset;
    height: unset;
    flex-direction: row;
    animation: unset;
    backdrop-filter: unset;
  }
  .menu-item span {
    font-size: 18px;
    transition: all 0.2s ease-in-out;
  }
  .menu-item span:hover {
    color: #fff;
  }
}
