.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 100px;
  flex-direction: column;
  padding-right: 16px;
  padding-left: 16px;
}

.inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.animate-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 49px;
  border-radius: 20px;
  background: var(
      --light-grad-pink-blue,
      radial-gradient(ellipse at 40% 0%, #7a7a7a10 0, transparent 75%)
    ),
    radial-gradient(ellipse at 60% 0%, #fdfdfd10 0, transparent 75%);
  padding: 1rem;
}

.title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.title .name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.title .name h1 {
  font-size: 47px;
  font-weight: 900;
  color: var(--text);
}

.title .name h1 span {
  /* color: var(--primary); */
}

.title .name .info {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c5c5c5;
}

.title .name .info p {
  font-size: 20px;
  font-weight: 400;
}

.title .line {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title .line .circle {
  width: 20px;
  height: 20px;
  background-color: #384352;
  border-radius: 50%;
}

.title .line .height {
  background-color: 384352;
  height: 160px;
  width: 4px;
  background: linear-gradient(-90deg, #384352, rgba(60, 51, 80, 0) 100%);
  background: -webkit-linear-gradient(
    -90deg,
    #384352,
    rgba(60, 51, 80, 0) 100%
  );
}

.canvas {
  margin-bottom: -16px;
  min-height: 375px;
  max-width: 600px;
}

.more {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}

.more .box {
  width: 35px;
  height: 65px;
  border: 4px solid var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 47px;
  cursor: pointer;
}

.more .box .circle {
  width: 11px;
  height: 12px;
  background-color: var(--secondary);
  border-radius: 20px;
  animation: hero-circle 1s alternate linear infinite;
}

.user-game {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 314px;
  min-width: 314px;
}

.user-game img {
  border-radius: 10px;
  min-height: 314px;
  min-width: 314px;
  height: 100%;
}

@keyframes hero-circle {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(10px);
  }
}

@media screen and (min-width: 1000px) {
  .line {
    display: flex !important;
  }
  .user-game {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 16px;
    padding-right: 16px;
  }
  .user-game img {
    height: 100%;
  }
  .inner {
    flex-direction: row;
  }
  .animate-inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 49px;
    border-radius: 20px;
  }
  .title {
    /* margin-bottom: -241px; */
    width: 66%;
    /* max-width: 1000px; */
    padding-left: 16px;
    justify-content: center;
    align-items: center;
  }
  .title .line .height {
    height: 320px;
  }
  .title .name {
    width: 100%;
  }
  .title .name h1 {
    font-size: 80px;
  }
  .title .name .info p {
    width: 578px;
  }
  .canvas {
    margin-bottom: -35px;
  }
  .more .box {
    width: 40px;
    height: 75px;
  }
}
